# https://yamllint.readthedocs.io/

extends: default

rules:
    document-start: disable
    line-length: disable
    comments-indentation: disable
    braces:
        level: warning
        max-spaces-inside: 1



# Local variables:
# mode: yaml
# End:
