{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
	<div class="row">
    <div class="col-md-12">
      <section id="technical-stuff">
        <h1>{{ 'Technical stuff' | trans }}</h1>

        <ul class="list-unstyled">
          <li><a href="{{ path('api_doc') }}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Fancy API documentation</a></li>
          <li><a href="{{ github_url }}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Source code for the API and related stuff</a></li>
        </ul>
      </section>
    </div>
  </div>
{% endblock %}
