imports:
    - { resource: config.yml }

# framework:
#     validation:
#         cache: validator.mapping.cache.doctrine.apc
#     serializer:
#         cache: serializer.mapping.cache.doctrine.apc

# doctrine:
#     orm:
#         metadata_cache_driver: apc
#         result_cache_driver: apc
#         query_cache_driver: apc

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: critical
            handler:      grouped
        grouped:
            type:    group
            members: [streamed, deduplicated]
        streamed:
            type:  stream
            path:  '%kernel.logs_dir%/%kernel.environment%.log'
            level: debug
        deduplicated:
            type:    deduplication
            handler: swift
        swift:
            type:       swift_mailer
            from_email: '%exception_from_email%'
            to_email:   '%exception_to_email%'
            subject:    'An Error Occurred! %%message%%'
            level:      debug
            formatter:  monolog.formatter.html
            content_type: text/html
