imports:
    - { resource: config_dev.yml }

parameters:
    api_platform.metadata_cache: true

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

doctrine:
    dbal:
        host: '%database_host%_test'
        dbname: '%database_name%'
