# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: vagrant
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale:            en
    api_name:          'Event Database'
    api_description:   'API for creating and querying events'
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: '*'

    jwt_private_key_path: %kernel.root_dir%/../var/jwt/private.pem   # ssh private key path
    jwt_public_key_path:  %kernel.root_dir%/../var/jwt/public.pem    # ssh public key path
    jwt_key_pass_phrase:  'test'                                     # ssh key pass phrase
    jwt_token_ttl:        86400

    site_name: Event Database
    site_title: Event Database Admin

    admin.base_url: http://event-database-api.vm
    admin.files_path: %kernel.root_dir%/../web/files/
    admin.files_url: files/
    admin.uploads_path: %kernel.root_dir%/../web/uploads/
    admin.uploads_url: uploads/

    github_url: https://github.com/itk-event-database
    editor_url: http://editor.event-database-api.vm

    from_email_address: noreply@example.com
    from_email_name: Event Database

    view_timezone: GMT
